# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# IDE0005: O uso da diretiva é desnecessário.
dotnet_diagnostic.IDE0005.severity = none

# IDE0032: Usar a propriedade auto
dotnet_style_prefer_auto_properties = false

# CS8600: Conversão de literal nula ou possível valor nulo em tipo não anulável.
dotnet_diagnostic.CS8600.severity = none

# CS8600: Conversão de literal nula ou possível valor nulo em tipo não anulável.
dotnet_diagnostic.CS8600.severity = silent

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
